<div class="currency-selector" [formGroup]="form">
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput type="number" formControlName="amount" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Currency</mat-label>

    <mat-select formControlName="selectedCurrency" [placeholder]="'Select '">
      @for (item of codes(); track $index) {
      <mat-option [value]="item.code">
        {{ item.code }} - {{ item.country }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
