:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.converter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;

  &__button {
    margin-bottom: 15px;
  }
}
