<mat-card>
  <app-header [rates]="headerData()"></app-header>
  <mat-card-content>
    <form class="converter">
      <app-currency-selector
        [amount]="base().amount"
        [code]="base().code"
        (amountChange)="onAmountChange($event, true)"
        (selectedCodeChange)="onSelectedCodeChange($event, true)"
        [codes]="codes()"></app-currency-selector>
      <button type="button" (click)="reverse()" mat-mini-fab class="converter__button">
        <mat-icon>sync-alt</mat-icon>
      </button>
      <app-currency-selector
        [amount]="target().amount"
        [code]="target().code"
        (amountChange)="onAmountChange($event, false)"
        (selectedCodeChange)="onSelectedCodeChange($event, false)"
        [codes]="codes()"></app-currency-selector>
    </form>

    <div class="currency-conversion">
      <p class="amount">
        {{ base().amount | currency: base().code }}
      </p>
      <span> = </span>
      <p class="amount">
        {{ target().amount | currency: target().code }}
      </p>
    </div>
  </mat-card-content>
</mat-card>
